{% extends "components/layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="row m-sm-5 m-3">
    <h2 class="col">Proyecto Framework</h2>
</div>

<div class="row justify-content-center text-center">
    <div class="">
        <!--<h3 class="col">Welcome to the Himalayas</h3>-->
    </div>
    <div class="">
        <img src="https://media.tenor.com/2ZTfrwLMgTUAAAAC/snowman-welcome-to-himalayas.gif" alt="meme">
    </div>
    <div class="">
        <img src="https://media.tenor.com/J_7-UH7oUMEAAAAC/jesus-bailar%C3%ADn.gif" alt="meme" width="50">
    </div>
</div>

{% endblock %}